
.flexitype-search {
    &-icon {
        i {
            cursor: pointer;
            position: relative;
            z-index: 9;
            display: inline-block;
            color: #242424;
            font-size: 20px;
        }
        .flaticon {
            display: block !important;
            line-height: 0;
        }
    }
    &-box {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        height: 0;
        background: #242424;
        z-index: 9999;
        transition: all 0.5s ease-out;
        overflow: hidden;
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 55%;
            transition: all 0.5s ease-out;
        }
        input {
            background: #FFFFFF;
            color: #242424;
            border: 0;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            font-size: 22px;
            color: #242424;
            padding: 0;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
        &.active {
            height: 100%;
            top: 0;
            &.flexitype-search-box form {
                transform: translate(-50%, -50%) scale(1);                                
            }
        }
        &-icon {
            position: absolute;
            right: 50px;
            top: 50px;
            font-size: 22px;
            color: #FFFFFF;
            cursor: pointer;				
            transform: rotate(0deg);
            &:hover {
                animation: rotate 0.4s ease 0s;			
            }
            i {
                cursor: pointer;
                position: relative;
                z-index: 9;
                &::before {
                    display: block;
                }
            }
        }
    }
}
@keyframes rotate {
    100% {
        transform: rotate(90deg);
    }
}