.flexitype_sticky {
    position: sticky;
    z-index: 99;
    height: 100%;
 }
.video {
    position: relative;
    text-align: center;
    display: inline-block;
    z-index: 4;
    a {
        position: relative;
        color: #FFFFFF;
        font-size: 20px;
        z-index: 1;
        background: #242424;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
        display: block;
    }
}
.video-pulse::after,
.video-pulse::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid#E8E8E8;
    left: 0;
    top: 0;
    border-radius: 50%;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-name: video-animation;
    animation-iteration-count: infinite;
}
.video-pulse::before {
    animation-delay: 1s;
}
@keyframes video-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
}
@keyframes rollShape {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-359deg);
	}
}
@keyframes bounce-y {
    0% {        
        transform: translateY(0);
    }
    50% {        
        transform: translateY(-10px);
    }
    100% {        
        transform: translateY(0);
    }
}
@keyframes bounce-x {
    0% {        
        transform: translateX(0);
    }
    50% {        
        transform: translateX(5px);
    }
    100% {        
        transform: translateX(0);
    }
}
@keyframes animateStripe {
    0% {        
        transform: translate(0, 0);
    }
    
    100% {        
        transform: translate(35px, 0);
    }
}
@keyframes animateStripe2 {
    0% {        
        transform: translate(0, 0);
    }
    
    100% {        
        transform: translate(-35px, 0);
    }
}
.bounce_y {
	animation: bounce-y 3s infinite linear;
}
.bounce_x {
	animation: bounce-x 2s infinite linear;
}
.roll_in {
    animation: rollShape 20s infinite linear;
}
.custom_social {
    .elementor-social-icon {
        display: flex;
    }
}
// Custom Front Size
@for $i from 1 to 30 {
    .fs-#{1 * $i}{
        font-size: 1px * $i;
    }
}